.primeiro {
  color: blueviolet;
  font-weight: 900;
  text-decoration-line: underline;
  align-self: center;
}

.container-image{
  width: 150px;
}
.button-container{
  display: flex;
  flex-direction: row;
}
.container-content{
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.image-cachorro {
  width: 100px;
  height: 100px;
}
